article {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.text-content {
    width: 75ch;
    margin: auto 20px;
}

img {
    width: 500px;
    height: 700px;
    object-fit: cover;
}

h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

p {
    font-size: 1.2rem;
    color: rgb(85,85,85);
}

/* Variations */
.centered-image-article img {
    width: 100%;
    max-height: 45vh;
    margin-bottom: 30px;
}

.left-image-article {
    flex-direction: row;
    align-items: flex-start;
}

.right-image-article {
    flex-direction: row-reverse;
    align-items: flex-start;
}

/* Media Queries------------ */
 /* Tablet Vertical */
 @media screen and (max-width: 1025px) {
    article {
        width: 95%;
        margin: 30px auto;
    }

    .text-content {
        width: 90%;
    }

    h1 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.1rem;
    }

    /* Variations  */
    .centered-image-article img {
        max-height: 35vh;
        margin-bottom: 20px;
    }
    
    .left-image-article , .right-image-article {
        flex-direction: column;
        align-items: center;
    }

    .left-image-article img , .right-image-article img {
        width: 100%;
        height: auto;
        max-height: 35vh;
        margin-bottom: 20px;
    }
 }

 /* Smartphone Vertical  */
 @media screen and (max-width:600px) {
        article, .text-content {
            width:100%;
        }

        h1 {
            font-size: 1.8rem;
        }

        p {
            font-size: 1rem;
        }
 }